aiohttp==3.8.1
aiosignal==1.2.0
annotated-types==0.6.0
anyio==3.7.1
apt-clone==0.2.1
apturl==0.5.2
asgiref==3.7.2
async-timeout==4.0.1
attrs==21.2.0
Babel==2.8.0
bcrypt==3.2.0
beautifulsoup4==4.10.0
blinker==1.4
Brlapi==0.8.3
certifi==2020.6.20
chardet==4.0.0
charset-normalizer==2.0.6
click==8.0.3
colorama==0.4.4
command-not-found==0.3
configobj==5.0.6
contourpy==1.1.1
cryptography==3.4.8
cupshelpers==1.0
cycler==0.12.1
Cython==3.0.4
dbus-python==1.2.18
defer==1.0.6
distro==1.7.0
distro-info==1.1+ubuntu0.1
Django==4.2.6
django-admin==2.0.2
django-excel-response2==3.0.6
django-six==1.0.5
docker==5.0.3
docker-compose==1.29.2
dockerpty==0.4.1
docopt==0.6.2
excel-base==1.0.4
exceptiongroup==1.1.3
eyeD3==0.8.10
fastapi==0.104.0
filelock==3.6.0
fonttools==4.43.1
frozenlist==1.2.0
fsspec==2023.10.0
gitdb==4.0.11
GitPython==3.1.40
grpcio==1.30.2
gyp==0.1
h11==0.14.0
httplib2==0.20.2
idna==3.3
ifaddr==0.1.7
imageio==2.31.5
IMDbPY==2021.4.18
importlib-metadata==4.6.4
isoweek==1.3.3
jeepney==0.7.1
Jinja2==3.1.2
jsonschema==3.2.0
keyring==23.5.0
kiwisolver==1.4.5
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lazy_loader==0.3
libevdev==0.5
louis==3.20.0
macaroonbakery==1.3.1
Mako==1.1.3
MarkupSafe==2.0.1
matplotlib==3.8.0
more-itertools==8.10.0
mpmath==1.3.0
multidict==5.1.0
nemo-emblems==5.8.0
netaddr==0.8.0
netifaces==0.11.0
networkx==3.2
numpy==1.26.1
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.18.1
nvidia-nvjitlink-cu12==12.3.52
nvidia-nvtx-cu12==12.1.105
oauthlib==3.2.0
onboard==1.4.1
opencv-python==4.8.1.78
packaging==21.3
PAM==0.4.2
pandas==2.1.1
pexpect==4.8.0
Pillow==9.0.1
protobuf==3.12.4
proton-core==0.1.15
proton-keyring-linux==0.0.1
proton-keyring-linux-secretservice==0.0.1
proton-vpn-api-core==0.20.1
proton-vpn-connection==0.11.0
proton-vpn-gtk-app==4.1.0
proton-vpn-killswitch==0.2.0
proton-vpn-killswitch-network-manager==0.2.0
proton-vpn-logger==0.2.1
proton-vpn-network-manager==0.3.0
proton-vpn-network-manager-openvpn==0.0.4
proton-vpn-session==0.6.1
psutil==5.9.0
ptyprocess==0.7.0
py-cpuinfo==9.0.0
pycairo==1.20.1
pycups==2.0.1
pycurl==7.44.1
pydantic==2.4.2
pydantic_core==2.10.1
pyelftools==0.27
PyGObject==3.42.1
PyICU==2.8.1
pyinotify==0.9.6
PyJWT==2.3.0
pymacaroons==0.13.0
PyNaCl==1.5.0
pyOpenSSL==21.0.0
pyparsing==2.4.7
pyparted==3.11.7
pyRFC3339==1.1
pyrsistent==0.18.1
python-apt==2.4.0+ubuntu2
python-dateutil==2.8.2
python-debian==0.1.43+ubuntu1.1
python-dotenv==0.19.2
python-gnupg==0.4.8
python-magic==0.4.24
python-multipart==0.0.6
python-xlib==0.29
pytz==2022.1
pyudev==0.22.0
pyxdg==0.27
PyYAML==5.4.1
reportlab==3.6.8
requests==2.25.1
requests-file==1.5.1
scikit-image==0.22.0
scipy==1.11.3
screen==1.0.1
screen-resolution-extra==0.0.0
seaborn==0.13.0
SecretStorage==3.3.1
segmentation==0.2.2
setproctitle==1.2.2
six==1.16.0
smmap==5.0.1
sniffio==1.3.0
soupsieve==2.3.1
sqlparse==0.4.4
ssh-import-id==5.11
starlette==0.27.0
sympy==1.12
systemd-python==234
tabulate==0.8.9
texttable==1.6.4
thop==0.1.1.post2209072238
tifffile==2023.9.26
TimeConvert==3.0.13
tinycss2==1.1.1
tldextract==3.1.2
torch==2.1.0
torchvision==0.16.0
tqdm==4.66.1
triton==2.1.0
typing_extensions==4.8.0
tzdata==2023.3
tzlocal==5.2
ubuntu-advantage-tools==8001
ubuntu-drivers-common==0.0.0
ufw==0.36.1
ultralytics==8.0.200
Unidecode==1.3.3
urllib3==1.26.5
uvicorn==0.23.2
wadllib==1.3.6
webencodings==0.5.1
websocket-client==1.2.3
wsproto==1.0.0
xdg==5
xkit==0.0.0
xlrd==1.2.0
xlwt==1.3.0
yarl==1.7.2
youtube-dl==2021.12.17
zipp==1.0.0
