@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.button_class{
    float: right;
    align-items: center;
    justify-content: center;
    position: relative;
    display: flex;
}

.buttons{
    border: 1px solid black;
    padding: 5px;
    margin: 2px;

}